.custom-color {
    background-color: #9dca69;
    border-color: #9dca69;
}

.wrapper {
    background-color: rgb(241, 241, 241);
    margin: 50px 50px 50px 50px;
    padding: 50px;
}

#field {
    margin-left: 10px;
}

#addEvent:hover {
    background-color: #3d66b0;
}

#submitResident:hover {
    background-color: #3d66b0;
}

col {
    display: inline-block;
}
.form-check{
    padding-left: 2.25rem;
}
.alert{
    margin-top: 20px;
}
#DOB{
    margin-right: .5rem;
    
}

#birthday{
    margin-bottom: 1rem;

}

#addResidentTitle{
    margin-top: 10px;
    text-align: center;
    color: cornsilk !important;
   padding: 20px;

}