.table{
    margin-top: 6rem;
}

.editEvent{
    position: relative; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.alleventform{
    background-color: rgb(30, 22, 32);
    margin-top: 20px;
    text-align: center;
    color: cornsilk;
    font-weight: bold;

}

.tableContent{
    margin-top: -8px;
}