.dashboard{
   
    height: 100vh;
    margin-top: -50px;
    z-index: 999;

}

.dashboardmenu{
    box-shadow: 15px 0 35px rgba(0,0,0,0.1) ,0  -15px 35px rgba(0,0,0,0.1),0  15px 35px rgba(0,0,0,0.1);
    margin-bottom: 50px;
    text-align: center;
    background: #9dca69;
    padding: 10px;
    border-radius: 5px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: .5s;

   
}

.dashboardmenu:hover{
    transform: scale(1,1);
    background: rgb(31, 221, 148);
}

.dashboardmenu span{
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    

}

.dashboardmenu .iconeplus svg{
   color: #007bff;
    text-align: center;
    height: 50px;
    display: block;
    margin-top: 10px;
    
    
}

a.dashboardmenu  {
    text-decoration: none;
}

.dashboardSidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;

}

.dashboardSidebar li{
    border-bottom: solid 1px #ddd;
    height: 40px;
    display: flex;
    align-items: center;
    
}

.dashboardSidebar{
    box-shadow: 15px 0 35px rgba(0,0,0,0.1) ,0  -15px 35px rgba(0,0,0,0.1),0  15px 35px rgba(0,0,0,0.1);
    height: 100vh;
    padding: 10px;
    background-image: linear-gradient(45deg,#11998e,#1ce669);
}

