button {
    text-decoration: none;
    padding: 5px;
    background-color: #9dca69;
    border-color: #9dca69;
    color: #ffffff;
}

.custom-shade {
    background-color: #333;
}

h3 {
    color: #ffffff;
}