button {
    text-decoration: none;
    background-color: #9dca69;
    border-color: #9dca69;
    text-align: center;
    border-radius: 2px;
    /* color: #ffffff; */
}

.custom-shade {
    background-color: #333;
}

h3 {
    color: #ffffff;
}

button, Link {
    margin: 2px;
}

button:hover {
    background-color: #3d66b0;
    border-color: #3d66b0;
}