.generate {
    color: #ffffff;
}

.wrapperTwo {
    margin-top: 20px;
    background-color: beige;
    text-align: center;
}

.save {
    color: white;
  
}

.download {
    color: white;
}


#reportTitle{
    margin-top: 10px;
    text-align: center;
    color: cornsilk !important;
   padding: 20px;

}